extends layout

block content
  body
    h1= title
    .container
      .row
        .col-12
          a.btn.btn-primary(href="/mountains" role='button') Mountains
          a.btn.btn-warning(href="/firstaid" role='button') First Aid Tips
